body {
    background-color: black;
}

/* controls the color of text on custom buttons */
.custom-btn {
    background-color: #627561; /* Replace with your desired initial button color */
    color: #ffffff; /* Text color (white in this example) */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* controls the color of hover on custom buttons */
.custom-btn:hover {
    background-color: #625a2c; /* Replace with your desired button color on hover */
    color: white;
}

font {
    color: white;
}

/* Set black background color, white text and some padding */
footer {
    color: white;
    padding: 50px;
}

/* Added h2, this changes the h2 tags of the page JJE 2.1.24 */
h1 {
    font-family: "Lobster", serif;
    color: white;
}

h2 {
    font-family: "Raleway", serif;
    font-weight: bold;
    font-size: 16pt;
    line-height: 15pt;
    color: white;
}

h3 {
    font-family: "Raleway", serif;
    font-size: 12pt;
    font-weight: lighter;
    line-height: 5pt;
    color: white;
}

.navbar {
    padding-top: 30px; /* Adjust the top padding as needed */
    padding-bottom: 30px; /* Adjust the bottom padding as needed */
    font-family: "Raleway", serif;
    font-weight: bold;
    font-size: 16pt;
    line-height: 15pt;
    color: white;
    margin-bottom: 0; /* Removes default margins */
    border-radius: 0; /* Removes default margins */
}

.navbar-brand {
    display: flex;
    align-items: center; /* Vertically center items */
    margin-right: auto; /* Move the brand (logo and text) to the left */
}

.navbar-brand img {
    margin-right: 10px; /* Adjust margin between image and text as needed */
    margin-left: 130px; /* Move the image towards the center */
}

.navbar-nav {
    margin-left: auto; /* Move the tabs to the right */
}

.navbar-nav .nav-link {
    line-height: 40px; /* Adjust the line height as needed */
}

p {
    color: white;
    font-size: 12pt;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .row.content {height:auto;}
}

/* Code below controls the changes made on mobile devices */
@media screen and (max-width: 390px) {

    .art-button {
        margin-bottom: 20px;
    }

    .art-1 {
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .art-2 {
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .bag {
        margin-bottom: 20px;
    }

    .buy-art {
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .custom-btn {
        margin-top: 5px;
        font-size: 20pt;
    }

    .email {
        margin-left: -50px;
    }

    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hoodie {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20pt;
        line-height: 20pt;
    }

    h3 {
        font-size: 18pt;
        line-height: 4pt;
    }

    .list-unstyled {
        align-content: center;
    }

    .mobile-logo {
        width: 150px;
        height: 150px;
        margin-bottom: 120px;
        margin-right: -100px;
    }

    .mobile-mission {
        margin-top: -70px;
    }

    .navbar-brand img {
        width: 150px; /* Controls the width of the logo */
        height: 40px; /* Controls the height of the logo */
        margin-left: 35px; /* Moves the logo from left to right */
    }

    .navbar {
        font-size: 18pt;
    }

    p {
        color: white;
        font-size: 16pt;
        line-height: 18pt;
    }

    .p-3 {
        margin-top: 10px;
    }

    .row.content {
        height:auto;}

    .rounded-circle {
        margin-bottom: 100px;
    }

    .shirt{
        margin-bottom: 20px;
    }

    .show-1 {
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .show-2 {
        margin-bottom: 20px;
    }

    .never-know {
        margin-top: 20px;
    }

    .social {
        margin-top: -30px;
    }

    .your-band {
        margin-bottom: -250px;
        margin-top: 5px;
    }

}
